# Core ML/AI Dependencies
torch==2.11.0
torchvision==0.26.0
tensorflow
onnxruntime==1.24.4

numpy==2.4.4

# HTTP and SSL dependencies
certifi

# Computer Vision
opencv-python==4.13.0.92
pillow==12.1.1
rawpy==0.26.1

# Data Processing
pandas==3.0.1

# GUI Framework
PyQt6==6.11.0
PyQt6-WebEngine==6.11.0
qtpy==2.4.3

# Utilities
PyExifTool==0.5.6
requests==2.33.1
pywebview==6.1

# installer
pyinstaller==6.19.0

# EXIF reading
exifread
Pillow